<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${pokemon} + '!'" />

<form method="get" th:action="@{/pokemon/save}" th:object="${pokemon}">

    <label for="name">Pokemon Name:</label><br>
    <input type="text" id="name" th:field="*{name}"><br>

    <label for="pokemonId">Pokemon ID:</label><br>
    <input type="number" id="pokemonId" th:field="*{id}">

    <label for="type1">Pokemon type one:</label><br>
    <input type="text" id="type1" th:field="*{type1}">

    <label for="pokemonId">Pokemon type two:</label><br>
    <input type="text" id="type2" th:field="*{type2}">

    <label for="description">Pokemon description:</label><br>
    <input type="text" id="description" th:field="*{description}">

    <label for="weight">Pokemon weight:</label><br>
    <input type="number" id="weight" th:field="*{weight}">

    <label for="height">Pokemon height:</label><br>
    <input type="number" id="height" th:field="*{height}">

    <label for="megaEvolves">Pokemon has a mega evolve?:</label><br>
    <input type="checkbox" id="megaEvolves" th:field="*{megaEvolves}">

    <label for="evolves">Pokemon evolve:</label><br>
    <input type="number" id="evolves" th:field="*{evolves}">



    <br>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>